In [94]:
from env import host, username, password
import pandas as pd
import numpy as np
import scipy.stats as stats
url = f'mysql+pymysql://{username}:{password}@{host}/telco_churn'

In [109]:
query = 'select total_charges, churn from customers'

In [129]:
fulldata = pd.read_sql(query, url)

In [131]:
fulldata['total_charges'].replace(' ', np.nan, inplace=True)

In [145]:
nonas = fulldata.dropna()

In [146]:
nonas

     total_charges churn
0            593.3    No
1            542.4    No
2           280.85   Yes
3          1237.85   Yes
4            267.4   Yes
...            ...   ...
7038         742.9    No
7039        1873.7   Yes
7040         92.75    No
7041       4627.65    No
7042        3707.6    No

[7032 rows x 2 columns]

In [147]:
x = nonas['churn'].str.startswith('Y') == True

In [149]:
charges_floats = nonas['total_charges'].astype(float)

In [150]:
charges_floats

0        593.30
1        542.40
2        280.85
3       1237.85
4        267.40
         ...
7038     742.90
7039    1873.70
7040      92.75
7041    4627.65
7042    3707.60
Name: total_charges, Length: 7032, dtype: float64

In [151]:
x

0       False
1       False
2        True
3        True
4        True
        ...
7038    False
7039     True
7040    False
7041    False
7042    False
Name: churn, Length: 7032, dtype: bool

In [152]:
r, p = stats.pearsonr(charges_floats, x)

In [153]:
r

-0.19948408356756428

In [154]:
p

4.876865689751806e-64